<!doctype html>
<html ng-app="leaderboardApp" >
<head>
  <meta charset="utf-8">
  <title>UVA Fundraising Leaderboard</title>
  <script>document.write("<base href=\"" + document.location + "\" />");</script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
  <script src="appStaticFile.js"></script>
</head>
<body ng-controller="leaderboardCtrl" ng-init="initialize()">
  <ul>
    <li ng-repeat="leader in leaders | orderBy:'amount':true">
      {{leader.name}} - <em>{{leader.amount}}</em>
    </li>
  </ul>
<button ng-click="update()">
  Update Leaderboard
</button>
</body>
</html>